.wpcf7 {
	font-size: 1rem;
}

.wpcf7-form-control-wrap {
	margin-top: .25em;
}

.wpcf7 input[type='text'],
.wpcf7 input[type='email'],
.wpcf7 input[type='phone'],
.wpcf7 input[type='url']
.wpcf7 input[type='submit'],
.wpcf7 select,
.wpcf7 textarea,
.wpcf7 button {
	width: 100%;
	font-size: 1.25em;
	border: 1px solid #CCC;
	border-radius: .15em;
	padding: .25em .5em;
	outline: 0;
}

.wpcf7 input[type='submit'] {
	background: rgba( 30, 115, 190, 1.00 );
	font-size: 1.5em;
}