/* Make initial input class show all its text */
body .select2-search__field {
	width: auto !important;
}
body .select2-search__field[placeholder] { text-overflow: ellipsis; }
body .select2-search__field:-moz-placeholder { text-overflow: ellipsis; }
body .select2-container--default .select2-results__group {
	font-size: 0.8em;
	font-weight: normal;
	opacity: 0.5;
	padding-left: 0;
}

/* Remove box shadow from Fluent Forms success box */
.pum-content .ff-message-success {
	box-shadow: none;
	padding: 0;
	margin: 0;
	border: 0;
}